
.button-gray {
  background-color: var(--medium-gray);
  margin: 0.5rem 0;
  width: 100%;
  padding: 0.5rem 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  border: 0;
}
